@charset "UTF-8";

body {
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    color: beige;
}
header {
    background-color: gray;
    color: beige;
    text-align: center;
    padding: 30px;
}
h1 {
    font-size: 75px;
}
header nav ul {
    display: flex;
    justify-content: center;
    gap: 45px;
}
header nav ul li {
    margin: 20px 15px;
    list-style: none;
}
header div {
    display: flex;
    justify-content: left;
    gap: 50px;
}
div {
    background-color: black;
    color: beige;
    text-align: left;
    padding: 20px;
}
aside {
   flex basis: 950px;
   background-color: beige;
   color: Dimgray;
    text-align: center;
}
aside nav {
    border-radius: 15px;
    background-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    gap: 7px;
}
aside nav ul li {
    margin: 0 10px;
    list-style: disc;
}